h1{
    text-align: center;
    font-family: 'Crimson Text', serif;
}

.h2-playlists{
    margin: auto;
    text-align: center;
    justify-content: center;
    position: relative;
    top: 25px;
    font-family: 'Crimson Text', serif;
}
.ul-lists{
    width: 300px;
    height: 157px;
    border-radius: 20px;
    margin: auto;
    background-color: rgba(77, 75, 76, 0.651);
    position: relative;
    top: 50px;
}

.ul-lists a{
    color: white;
    font-family: 'Crimson Text', serif;
}

.div-akita{
    margin: auto;
    position: relative;
    top: 80px;
    justify-content: center;
    text-align: center;
}



@media screen and (min-width: 350px) {
    .playlist-akita {
    width: 340px;
    height: 191px;
    }
  }

  @media screen and (min-width: 500px) {
    .playlist-akita {
        width: 450px;
        height: 255px;
    }
  }

  @media screen and (min-width: 650px) {
    .playlist-akita {
        width: 650px;
        height: 365px;
    }
  }


  @media screen and (min-width: 1900px) {
    .playlist-akita {
    width: 820px;
    height: 460px;
    }
  }
