h1{
    text-align: center;
    font-family: 'Crimson Text', serif;
}

.h2-playlists{
    margin: auto;
    text-align: center;
    justify-content: center;
    position: relative;
    top: 25px;
    font-family: 'Crimson Text', serif;
}
.ul-lists{
    width: 300px;
    height: 120px;
    border-radius: 20px;
    margin: auto;
    background-color: rgba(77, 75, 76, 0.651);
    position: relative;
    top: 50px;
}

.ul-lists a{
    text-decoration: none;
    color: white;
    font-family: 'Crimson Text', serif;
}