h1{
    text-align: center;
    font-family: 'Anonymous Pro', monospace;
}
.div-sobre-site{
    top: 10px;
    position: relative;
    margin: auto;
    background-color: rgba(77, 75, 76, 0.651);
    padding: 20px;
    border-radius: 10px
}
@media screen and (min-width: 320px) {
    .div-sobre-site {
        width: 250px;
    }
  }

@media screen and (min-width: 425px) {
    .div-sobre-site {
        width: 320px;
    }
  }

@media screen and (min-width: 500px) {
    .div-sobre-site {
        width: 425px;
    }
  }

@media screen and (min-width: 1300px) {
    .div-sobre-site {
        top: 50px;
        width: 450px;
        right: 400px;
    }
  }

  @media screen and (min-width: 1900px) {
    .div-sobre-site {
        top: 50px;
        width: 450px;
        right: 500px;
    }
  }

  



.sobre-site{
    text-align: center;
    justify-content: center;
    font-family: 'Anonymous Pro', monospace;
}

.paragrafo{
    font-family: 'Anonymous Pro', monospace;
    font-size: 25px;
    margin: auto;
    text-align: justify;
    


}

