h1{
    text-align: center;
    font-family: 'Anonymous Pro', monospace;
}

.section{
    top: 10px;
    position: relative;
    margin: auto;
    background-color: rgba(77, 75, 76, 0.651);
    padding: 20px;
    width: 425px;
    border-radius: 10px
}

.sobre-site{
 display: flex;
 justify-content: center;
 font-family: 'Anonymous Pro', monospace;
}

.paragrafo{
    font-family: 'Anonymous Pro', monospace;
    font-size: 25px;
    margin: auto;
    text-align: justify;
    border-radius: 10px;


}

