@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Crimson+Text:wght@400;700&display=swap');

*{
    margin: 0px;
    

    
}
body{
    background-image: url(../Assets/backgroundmobile.jpg);background-repeat: no-repeat;
    background-size: cover;
    max-width: 1920px;
    min-width: 512px;
}