@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Crimson+Text:wght@400;700&display=swap');


*{
    margin: 0px;
    
    
}
body{
    background: url(../Assets/backgroundmobile.jpeg) rgba(177, 172, 172, 0.76) 50% / cover no-repeat fixed;
    color: white;
    
}

  
.nav-bar{
margin: auto;
border-radius: 20px;
background-color: rgba(77, 75, 76, 0.651);
position: relative;
display: flex;
text-align: center;
justify-content: center;
}
@media screen and (min-width: 320px) {
    .nav-bar {
    gap: 15px;
    padding: 4px;
    width: 300px;
    }
  }

  @media screen and (min-width: 500px) {
    .nav-bar {
    gap: 15px;
    width: 480px;
    }
  }

  @media screen and (min-width: 1359px) {
    .nav-bar {
    gap: 120px;
    width: 1000px;
    padding: 10px;
    }
  }

.nav-bar > a{
    font-family: 'Anonymous Pro', monospace;
    text-decoration: none;
    color: white;
}
@media screen and (min-width: 320px) {
    .nav-bar > a {
    font-size: 0.8rem;
    }
  }


@media screen and (min-width: 500px) {
    .nav-bar > a {
    font-size: 1rem;
    }
  }

  @media screen and (min-width: 1900px) {
    .nav-bar > a {
    font-size: 1.5rem;
    }
  }